In [1]:
# funciones
# https://docs.python.org/3/library/functions.html
# https://nbviewer.jupyter.org/

In [2]:
def suma(a,b,c):
    return a+b+c

print (type(suma))

<class 'function'>

In [3]:
suma(2,3,4)

9

In [4]:
a=suma(2,3,4)
print (type(a))
suma(a,a,3)

<class 'int'>

21

In [5]:
def suma2(a,b,c=1):
    return a+b+c

print (suma2(2,2))
print (suma(2,2))

5

TypeError: suma() missing 1 required positional argument: 'c'

In [6]:
suma2(2,2,5)

9

In [7]:
suma2(suma(2,1,4), suma2(2,2), 4)

16

In [8]:
# sin return

def saluda(nombre, lang='es', colega=True):
    s=''
    
    if colega: 
        s='colega!'
    
    if lang=='es':
        print ('Hola {} {}'.format(nombre, s))
        # print (f'Hola {nombre} {s}')
    else:
        print ('Hello {} {}'.format(nombre, s))

        
saluda('Jose', 'en')
saluda('Juan')
saluda('Juan', colega=False)
        
saluda(*['Ana', 'fr'])

Hello Jose colega!
Hola Juan colega!
Hola Juan
Hello Ana colega!

In [9]:
saluda(['Ana', 'fr'])       
saluda('Ana', 'fr')
saluda(*'Ana')
saluda(*'Ana', 'fr')

Hola ['Ana', 'fr'] colega!
Hello Ana colega!
Hello A colega!

TypeError: saluda() takes from 1 to 3 positional arguments but 4 were given

In [10]:
def suma3(a,b,c):
    print ('a={}'.format(a))
    print ('b={}'.format(b))
    print ('c={}'.format(c))

In [11]:
suma3(c=4, a=9, b=2)

a=9
b=2
c=4

In [12]:
suma3(4, 9, 2)

a=4
b=9
c=2

In [13]:
help(suma3)

Help on function suma3 in module __main__:

suma3(a, b, c)

In [14]:
# sin return

def saluda2(nombre, lang='es', colega=True):
    s=''
    
    if colega: 
        s='colega!'
        return 'si'
    if lang=='es':
        print ('Hola {} {}'.format(nombre, s))
        # print (f'Hola {nombre} {s}')
    else:
        print ('Hello {} {}'.format(nombre, s))
    
    return ''

In [15]:
print (saluda('Pepe'))

Hola Pepe colega!
None

In [16]:
# *args al reves

def saludo_multiple(*lst, lang='en'):
    for e in lst:
        saluda(e, lang)

In [20]:
saludo_multiple('Juan', 'Maria', 'Pepe', lang='es')

Hola Juan colega!
Hola Maria colega!
Hola Pepe colega!

In [21]:
def hola():
    pass
hola()

In [29]:
def resta(a,b):
    def multi(c,d):
        return c*d
    return multi(a,b)-a

In [30]:
resta(5,5)

20

In [24]:
multi(5,5)

NameError: name 'multi' is not defined

In [33]:
w=10 # global

def resta(a,b):
    def multi(c,d): # c,d local
        return c*w
    return multi(a,b)-a+w

In [35]:
q=resta(5,5)

In [36]:
resta(q,w)

505

In [39]:
def suma4(*lst):
    print (lst)
    return sum(lst)

a=[1,2,3]
suma4(*a)

(1, 2, 3)

6

In [40]:
def saludo_multiple(*lst, lang='es', vacaciones=True): # (*args, **kwargs)
    print (lst)
    print (lang)
    print (vacaciones)
    
    if vacaciones:
        print ('⚽️')
    
    for e in lst:
        saluda(e, lang)

In [41]:
config={
    'lang':'en',
    'vacaciones':False
}

In [42]:
saludo_multiple('Juan', 'Maria', 'Ana', **config)

('Juan', 'Maria', 'Ana')
en
False
Hello Juan colega!
Hello Maria colega!
Hello Ana colega!

In [52]:
def suma6(w,b,c,d='Pepe'):
    print (d)
    return w+b+c

In [66]:
v={
    'c':1,
    'b':5,
    'w': 4,
    'd': 'hoy'
}

In [67]:
suma6(**v)

hoy

10

In [68]:
suma6(c=1, b=5, w=9, d='hoy')

hoy

15

In [80]:
def fn (*args, **kwargs):
    print ('Args {}'.format(args))
    print ('Kwargs {}'.format(kwargs))

In [81]:
a=[1,2,3]
fn(a,1,2,4,5, juan=33, pepe=90, **{'hola':'que tal', 'nombre':'yo'})

Args ([1, 2, 3], 1, 2, 4, 5)
Kwargs {'juan': 33, 'pepe': 90, 'hola': 'que tal', 'nombre': 'yo'}

In [83]:
def fn2 (**kwargs):
    print ('Kwargs {}'.format(kwargs))

In [84]:
fn2(juan=33, pepe=90, **{'hola':'que tal', 'nombre':'yo'})

Kwargs {'juan': 33, 'pepe': 90, 'hola': 'que tal', 'nombre': 'yo'}