In [1]:
# json

import pandas as pd

df=pd.read_json('https://raw.githubusercontent.com/openfootball/football.json/master/2019-20/en.1.json')
df.head()

,name,rounds
0,English Premier League 2019/20,"{'name': 'Matchday 1', 'matches': [{'date': '2..."
1,English Premier League 2019/20,"{'name': 'Matchday 2', 'matches': [{'date': '2..."
2,English Premier League 2019/20,"{'name': 'Matchday 3', 'matches': [{'date': '2..."
3,English Premier League 2019/20,"{'name': 'Matchday 4', 'matches': [{'date': '2..."
4,English Premier League 2019/20,"{'name': 'Matchday 5', 'matches': [{'date': '2..."

In [21]:
from pandas.io.json import json_normalize

df2=json_normalize(df.rounds)
display(df2.head())
df2.matches[0][0]

         name                                            matches
0  Matchday 1  [{'date': '2019-08-09', 'team1': {'key': 'live...
1  Matchday 2  [{'date': '2019-08-17', 'team1': {'key': 'arse...
2  Matchday 3  [{'date': '2019-08-23', 'team1': {'key': 'asto...
3  Matchday 4  [{'date': '2019-08-31', 'team1': {'key': 'chel...
4  Matchday 5  [{'date': '2019-09-14', 'team1': {'key': 'live...

{'date': '2019-08-09',
 'team1': {'key': 'liverpool', 'name': 'Liverpool FC', 'code': 'LIV'},
 'team2': {'key': 'norwich', 'name': 'Norwich City FC', 'code': 'NOR'},
 'score1': 4,
 'score2': 1}

In [10]:
df2.matches[0]

[{'date': '2019-08-09',
  'team1': {'key': 'liverpool', 'name': 'Liverpool FC', 'code': 'LIV'},
  'team2': {'key': 'norwich', 'name': 'Norwich City FC', 'code': 'NOR'},
  'score1': 4,
  'score2': 1},
 {'date': '2019-08-10',
  'team1': {'key': 'westham', 'name': 'West Ham United FC', 'code': 'WHU'},
  'team2': {'key': 'mancity', 'name': 'Manchester City FC', 'code': 'MCI'},
  'score1': 0,
  'score2': 5},
 {'date': '2019-08-10',
  'team1': {'key': 'crystalpalace',
   'name': 'Crystal Palace FC',
   'code': 'CRY'},
  'team2': {'key': 'everton', 'name': 'Everton FC', 'code': 'EVE'},
  'score1': 0,
  'score2': 0},
 {'date': '2019-08-10',
  'team1': {'key': 'watford', 'name': 'Watford FC', 'code': 'WAT'},
  'team2': {'key': 'brightonhovealbionfc',
   'name': 'Brighton & Hove Albion FC',
   'code': None},
  'score1': 0,
  'score2': 3},
 {'date': '2019-08-10',
  'team1': {'key': 'burnley', 'name': 'Burnley FC', 'code': 'BUR'},
  'team2': {'key': 'southampton', 'name': 'Southampton FC', 'code': 'SOU'},
  'score1': 3,
  'score2': 0},
 {'date': '2019-08-10',
  'team1': {'key': 'bournemouth', 'name': 'AFC Bournemouth', 'code': 'BOU'},
  'team2': {'key': 'sheffieldunitedfc',
   'name': 'Sheffield United FC',
   'code': None},
  'score1': 3,
  'score2': 0},
 {'date': '2019-08-10',
  'team1': {'key': 'tottenham', 'name': 'Tottenham Hotspur FC', 'code': 'TOT'},
  'team2': {'key': 'astonvilla', 'name': 'Aston Villa FC', 'code': 'AVL'},
  'score1': 3,
  'score2': 1},
 {'date': '2019-08-11',
  'team1': {'key': 'newcastle', 'name': 'Newcastle United FC', 'code': 'NEW'},
  'team2': {'key': 'arsenal', 'name': 'Arsenal FC', 'code': 'ARS'},
  'score1': 0,
  'score2': 1},
 {'date': '2019-08-11',
  'team1': {'key': 'manutd', 'name': 'Manchester United FC', 'code': 'MUN'},
  'team2': {'key': 'chelsea', 'name': 'Chelsea FC', 'code': 'CHE'},
  'score1': 4,
  'score2': 0},
 {'date': '2019-08-11',
  'team1': {'key': 'leicester', 'name': 'Leicester City FC', 'code': 'LEI'},
  'team2': {'key': 'wolverhamptonwanderersfc',
   'name': 'Wolverhampton Wanderers FC',
   'code': None},
  'score1': 0,
  'score2': 0}]

In [19]:
def nor_json(lst):
    n_df=pd.DataFrame(columns=lst[0].keys())
    for e in lst:
        n_df=n_df.append(e, ignore_index=True)
    return n_df

In [23]:
nor_json(nor_json(df2.matches[0]).team1)

             key                  name code
0      liverpool          Liverpool FC  LIV
1        westham    West Ham United FC  WHU
2  crystalpalace     Crystal Palace FC  CRY
3        watford            Watford FC  WAT
4        burnley            Burnley FC  BUR
5    bournemouth       AFC Bournemouth  BOU
6      tottenham  Tottenham Hotspur FC  TOT
7      newcastle   Newcastle United FC  NEW
8         manutd  Manchester United FC  MUN
9      leicester     Leicester City FC  LEI

In [10]:
# lst, dicts

lst=[1,2,33,4,54,5,65,6]

def hola(*lst):
    return sum(*lst)

In [11]:
hola(lst)

170

In [19]:
d={'a':1, 'b':2}

def hola2(**kw):
    print(kw.keys())

hola2(**d)

dict_keys(['a', 'b'])