In [1]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('svg')

In [2]:
census=pd.read_csv('data/acs2015_county_data.csv')
census.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [3]:
census.describe()

,CensusId,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,3220.000000,3.220000e+03,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,31393.605280,9.940935e+04,4.889694e+04,5.051241e+04,11.011522,75.428789,8.665497,1.723509,1.229068,0.082733,...,3.323509,1.612733,4.631770,23.278758,4.559352e+04,74.219348,17.560870,7.931801,0.288106,8.094441
std,16292.078954,3.193055e+05,1.566813e+05,1.626620e+05,19.241380,22.932890,14.279122,7.253115,2.633079,0.734931,...,3.756096,1.670988,3.178772,5.600466,1.496995e+05,7.863188,6.510354,3.914974,0.455137,4.096114
min,1001.000000,8.500000e+01,4.200000e+01,4.300000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.900000,6.200000e+01,25.000000,5.800000,0.000000,0.000000,0.000000
25%,19032.500000,1.121800e+04,5.637250e+03,5.572000e+03,1.900000,64.100000,0.500000,0.100000,0.200000,0.000000,...,1.400000,0.900000,2.700000,19.500000,4.550750e+03,70.500000,13.100000,5.400000,0.100000,5.500000
50%,30024.000000,2.603500e+04,1.293200e+04,1.305700e+04,3.900000,84.100000,1.900000,0.300000,0.500000,0.000000,...,2.400000,1.300000,3.900000,23.000000,1.050800e+04,75.700000,16.200000,6.900000,0.200000,7.600000
75%,46105.500000,6.643050e+04,3.299275e+04,3.348750e+04,9.825000,93.200000,9.600000,0.600000,1.200000,0.000000,...,4.000000,1.900000,5.600000,26.800000,2.863275e+04,79.700000,20.500000,9.400000,0.300000,9.900000
max,72153.000000,1.003839e+07,4.945351e+06,5.093037e+06,99.900000,99.800000,85.900000,92.100000,41.600000,35.300000,...,71.200000,39.100000,37.200000,44.000000,4.635465e+06,88.300000,66.200000,36.600000,9.800000,36.500000

In [4]:
census.isnull().sum(axis=0)

CensusId           0
State              0
County             0
TotalPop           0
Men                0
Women              0
Hispanic           0
White              0
Black              0
Native             0
Asian              0
Pacific            0
Citizen            0
Income             1
IncomeErr          1
IncomePerCap       0
IncomePerCapErr    0
Poverty            0
ChildPoverty       1
Professional       0
Service            0
Office             0
Construction       0
Production         0
Drive              0
Carpool            0
Transit            0
Walk               0
OtherTransp        0
WorkAtHome         0
MeanCommute        0
Employed           0
PrivateWork        0
PublicWork         0
SelfEmployed       0
FamilyWork         0
Unemployment       0
dtype: int64

In [5]:
census=census.dropna()

In [6]:
cols=[c for c in census.columns.values if c not in ['CensusId', 'State', 'County']]

## K-Means

In [7]:
from sklearn.cluster import KMeans

kmeans=KMeans(n_clusters=4)
clusters=kmeans.fit(census[cols])

In [10]:
len(clusters.cluster_centers_)

4

In [11]:
clusters.cluster_centers_

array([[7.14995000e+05, 3.48954639e+05, 3.66040361e+05, 1.67854430e+01,
        6.02544304e+01, 1.41050633e+01, 3.38607595e-01, 5.71392405e+00,
        1.68354430e-01, 4.95983386e+05, 6.12043038e+04, 8.54474684e+02,
        3.16039367e+04, 3.98056962e+02, 1.41791139e+01, 1.99753165e+01,
        3.92006329e+01, 1.76835443e+01, 2.45822785e+01, 8.00569620e+00,
        1.05272152e+01, 7.64436709e+01, 9.11392405e+00, 5.50126582e+00,
        2.59430380e+00, 1.83607595e+00, 4.50379747e+00, 2.63639241e+01,
        3.41134006e+05, 8.07563291e+01, 1.36443038e+01, 5.46392405e+00,
        1.39240506e-01, 8.22974684e+00],
       [4.86137678e+04, 2.40621967e+04, 2.45515711e+04, 1.05567434e+01,
        7.64794408e+01, 8.35263158e+00, 1.80161184e+00, 9.32302632e-01,
        6.60197368e-02, 3.59949480e+04, 4.52585901e+04, 2.96736349e+03,
        2.35332332e+04, 1.41598651e+03, 1.76663816e+01, 2.44105263e+01,
        3.05263158e+01, 1.83702632e+01, 2.20742434e+01, 1.29949671e+01,
        1.60345066e+01, 7.94196711e+01, 1.03449342e+01, 6.61085526e-01,
        3.34588816e+00, 1.59351974e+00, 4.63578947e+00, 2.30830263e+01,
        2.15065523e+04, 7.38485197e+01, 1.77832895e+01, 8.07098684e+00,
        2.97006579e-01, 8.08003289e+00],
       [2.59497053e+06, 1.27467168e+06, 1.32029884e+06, 3.28736842e+01,
        3.98684211e+01, 1.44368421e+01, 3.31578947e-01, 9.75789474e+00,
        1.89473684e-01, 1.65020984e+06, 5.85898947e+04, 4.97473684e+02,
        3.08353158e+04, 2.48105263e+02, 1.68368421e+01, 2.35842105e+01,
        3.71842105e+01, 1.95105263e+01, 2.45473684e+01, 8.02631579e+00,
        1.07368421e+01, 6.73736842e+01, 9.48947368e+00, 1.28210526e+01,
        3.63684211e+00, 2.17894737e+00, 4.51052632e+00, 2.92157895e+01,
        1.20507611e+06, 8.17000000e+01, 1.18947368e+01, 6.28421053e+00,
        1.36842105e-01, 9.23157895e+00],
       [1.00383880e+07, 4.94535100e+06, 5.09303700e+06, 4.82000000e+01,
        2.69000000e+01, 8.00000000e+00, 2.00000000e-01, 1.40000000e+01,
        2.00000000e-01, 6.04674900e+06, 5.61960000e+04, 2.70000000e+02,
        2.83370000e+04, 1.13000000e+02, 1.82000000e+01, 2.58000000e+01,
        3.57000000e+01, 1.91000000e+01, 2.46000000e+01, 7.80000000e+00,
        1.28000000e+01, 7.30000000e+01, 9.90000000e+00, 6.80000000e+00,
        2.80000000e+00, 2.30000000e+00, 5.10000000e+00, 3.00000000e+01,
        4.63546500e+06, 7.90000000e+01, 1.15000000e+01, 9.40000000e+00,
        2.00000000e-01, 1.00000000e+01]])

In [16]:
preds=clusters.fit_predict(census[cols])
len(preds)

3218

In [17]:
distancias=clusters.fit_transform(census[cols])
len(distancias)

3218

In [18]:
import numpy as np

distancias[np.where(preds==1)[0]]

array([[ 5810320.38812675,  2106406.00976323,  8588496.98197191,
         4820695.36528671],
       [ 4476102.6537771 ,   772570.30820241,  9917118.44212282,
         3487047.05948377],
       [ 3214872.20101582,   513144.88932824, 11180977.9607949 ,
         2227802.42053226],
       [ 2917583.7319852 ,   803143.61151026, 11478171.47094131,
         1931074.32185437],
       [ 4650395.08966534,   949401.92658742,  9747031.09016275,
         3660815.51446326],
       [ 2639780.96926729,  1071684.93830065, 11753365.28587231,
         1652317.06398755],
       [ 2638751.07205886,  1068460.78265703, 11754836.98165016,
         1649246.11696707],
       [ 3698090.03048671,   142440.43241204, 10694584.7804203 ,
         2711662.69855657],
       [ 7638429.78822233,  3934192.92636933,  6766975.69819643,
         6648592.96931615],
       [ 2552577.53351075,  1178691.48062282, 11853030.30945281,
         1566122.04392865],
       [ 2896092.11175083,   811324.81306603, 11497340.39330611,
         1906916.11712856],
       [ 3674446.23633682,    90047.04032343, 10718559.38503944,
         2686172.70125791],
       [ 2399286.57048973,  1321620.17850686, 12001979.08062047,
         1410855.33953046],
       [ 3249793.55253301,   468570.83127775, 11142573.5974659 ,
         2262482.97835578],
       [ 2600881.4124259 ,  1106862.78904781, 11793283.22510292,
         1611394.38184193],
       [ 3496474.32744744,   256463.51530849, 10896520.35175075,
         2510180.71890551],
       [ 6174624.30715335,  2477104.8577661 ,  8220309.33559581,
         5187930.96349864],
       [ 2727572.35754429,   979151.11772729, 11665100.38549198,
         1738525.95452724],
       [ 3000730.75231106,   724533.29130056, 11398884.04900099,
         2011484.52919948]])

In [20]:
census['cluster']=preds
census.cluster.unique()

array([0, 2, 1, 3])

In [21]:
census[census.cluster==2]

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,cluster
36,1073,Alabama,Jefferson,659026,311581,347445,3.8,51.0,42.2,0.2,...,1.0,2.5,23.6,293202,80.9,14.4,4.6,0.2,9.1,2
48,1097,Alabama,Mobile,414251,198216,216035,2.6,58.1,35.0,0.6,...,0.8,3.7,24.4,170900,81.4,13.8,4.6,0.1,9.8,2
106,4019,Arizona,Pima,998537,491108,507429,35.7,53.7,3.3,2.4,...,3.7,4.6,24.4,422371,74.9,18.3,6.6,0.2,10.0,2
170,5119,Arkansas,Pulaski,390463,187292,203171,5.9,54.2,35.4,0.3,...,1.1,2.9,20.3,180430,74.6,20.6,4.7,0.2,7.5,2
186,6001,California,Alameda,1584983,776699,808284,22.6,33.0,11.3,0.3,...,3.5,5.6,30.7,778132,78.7,13.8,7.4,0.1,8.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2983,53061,Washington,Snohomish,746653,374847,371806,9.5,72.5,2.5,0.9,...,1.6,5.1,30.6,367655,81.6,12.7,5.5,0.2,7.5,2
2984,53063,Washington,Spokane,480832,238241,242591,5.1,85.7,1.7,1.3,...,1.6,5.4,21.2,211522,78.4,15.5,6.0,0.2,8.4,2
3059,55025,Wisconsin,Dane,510198,252850,257348,6.2,80.8,5.0,0.2,...,3.5,4.6,21.0,287151,74.2,21.1,4.5,0.1,4.9,2
3087,55079,Wisconsin,Milwaukee,955939,461804,494135,14.0,53.2,26.1,0.5,...,1.5,3.0,22.5,445174,84.8,11.7,3.4,0.1,9.3,2
3114,55133,Wisconsin,Waukesha,393873,193441,200432,4.5,89.6,1.4,0.1,...,0.9,4.2,24.0,209461,87.4,8.3,4.2,0.1,4.2,2

In [22]:
census[census.cluster==0].State.value_counts()

Texas             240
Georgia           155
Virginia          130
Kentucky          119
Missouri          112
Kansas            103
Iowa               98
North Carolina     97
Illinois           97
Nebraska           92
Tennessee          92
Indiana            90
Minnesota          84
Mississippi        82
Ohio               81
Michigan           78
Puerto Rico        78
Oklahoma           75
Arkansas           74
Wisconsin          69
South Dakota       66
Alabama            65
Louisiana          61
Colorado           59
Pennsylvania       58
Montana            56
West Virginia      55
North Dakota       53
Florida            53
New York           51
South Carolina     43
Idaho              43
California         37
Washington         34
Oregon             33
New Mexico         32
Alaska             29
Utah               27
Wyoming            23
Maryland           19
Maine              16
Nevada             15
Vermont            14
Arizona            13
New Jersey         10
New Hampshire       9
Massachusetts       6
Connecticut         5
Rhode Island        4
Hawaii              3
Delaware            2
Name: State, dtype: int64

In [23]:
census.groupby(['cluster']).Income.mean()

cluster
0    45258.590132
1    58589.894737
2    61204.303797
3    56196.000000
Name: Income, dtype: float64